body {
    background-color: #5474b4;
}

header {
    height: 100vh;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: #003399;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0;
    border-radius: 30px;
    background-color: darkgrey;
    box-shadow: 0 0 5px 0 rgb(91, 137, 166);
    width: 95%;
    text-align: center;
}

form {
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 95%;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid rgb(91, 137, 166);
    border-radius: 14px;
    outline: none;
    background: transparent;
    box-shadow: 0 0 10px rgb(91, 137, 166);
}



.textarea-field {
    height: 150px;
    padding-top: 10px;
    align-self: flex-start;
}

.btn {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(91, 137, 166);
    font-size: 12px;
    border: none;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(15, 104, 160);
}

.btn:active {
    box-shadow: 1px 1px 1px rgb(207, 207, 2);
}

h2 {
    width: 40%;
    font-size: 2rem;
    font-family: 'poppins', cursive;
    margin-top: 20px;
}



@media only screen and (min-width: 700px) {
    .contact-container {
        background-color: rgba(135, 207, 235, 0.329);
    }
    .contact-box {
        max-width: 70%;
    }

}