body {
    background-color: #5474b4;
}

.gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: 
        "sidebar atlanta atlanta atlanta"
        "sidebar neworleans neworleans neworleans"
        "sidebar st-louis st-louis st-louis";
    gap: 2rem;
    margin: 5%;
}

h2 {
    font-size: 1.5rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f3f3a7;
    border-radius: 50px;
    padding: 40px;
    text-align: center;
    border: 3px dotted #474555;
}

.sidebar h2 {
    color: #003049;
    font-family: "Unica One", Cursive;
}

hr.list-break {
    margin: 10px auto;
    border: 5px solid #003049;
    border-radius: 5px;
}

.sidebar ul {
    list-style-type: none;
}
.trip-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-link {
    text-decoration: none;
    color: rgb(198, 216, 226);
}

.div-link:visited {
    color: rgb(198, 216, 226);
}

.div-link:hover {
    transition: all 1s;
    color: #003049;
}

.div-line:active {
    color: rgb(198, 216, 226);
}


.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    color: rgb(198, 216, 226);
    border-radius: 10px;
    width: 75%;
}

.desc h2,
p {
    padding: 2px;
}
.atlanta {
    grid-area: atlanta;
    border-radius: 30px;
    background-image: url("/resources/atlanta-view.jpg");
    background-position: center;
    background-size: cover;
}

/* Start on making overlays slide over images on hover */

/* .big-box {
    position: relative;
    width: auto;
    height: auto;
}

.desc {
    height: 100%;
    width: 100%;
    position: absolute;
}

#overlay {
    position: absolute;
    left: -100%;
    height: 100%;
    width: 100%;

} 

.big-box:hover #hover {
    bottom: 0;
    transtion: all 3s, transfrom 2s;
    width: 100%;
    height: 100%;
    opacity:
} */

.new-orleans {
    grid-area: neworleans;
    border-radius: 30px;
    background-image: url("/resources/new-orleans-riverfront.jpg");
    background-position: bottom;
    background-size: cover;
}

.st-louis {
    grid-area: st-louis;
    border-radius: 30px;
    background-image: url("/resources/st-louis.jpg");
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
    .gridbox {
        width: 95%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
    }

    .trip-card {
        width: 100%;
        height: 300px;
    }
}