* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

header {
    background-color: #003399;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;

}

/* Dropdown menu for small viewports */

.dropbtn {
    background-color: #003399;
    color: #5B89A6;
    border: none;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;
}

.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #798d2162;
    min-width: 200px;
    left: 0;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #c4bfbf;
}

.dropdown-content a:active {
    background-color: rgb(241, 241, 190);
}

.dropdown:hover .dropbtn {
    background-color: #c4bfbf;
}

/* Navbar */

.slider {
    background-color: green;
    position: absolute;
    width: 40%;
    height: 100px;
    z-index: -1;
}

nav {
    padding-top: 1rem;
    padding-left: 2rem;
    display: none;
}

header ul li {
    display: inline; 
    list-style-type: none;
}

header ul a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-left: 4rem;
}

header ul a:hover {
    color: #e9ec3e;
    transition: 1 1s 1 1;
}

header ul a:active {
    color: #474555;
}

/* Footer Styling */

/* footer {
    position: absolute;
    width: 100%;
    bottom: 0;
} */

.inner-footer {
    background-color: #447dee;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #a7a7a798;
    padding: 1rem;
    margin-top: 50px;
}

.inner-footer h3 {
    font-size: 1rem;
}

.social-links {
    display: flex;
    text-decoration: none;
    border-left: 1px solid #a7a7a798;
    font-size: 1.3rem;

}

.social-items {
    padding: 1rem;
    color: white;
}

.social-items:visited {
    color: white;
}

.facebook:hover {
    color: #3b5998;
    transition: all .25s;
}

.twitter:hover {
    color: #00acee;
    transition: all .25s;
}

.youtube:hover {
    color: #c4302b;
    transition: all .25s;
}

.outer-footer {
    background-color: #003399;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

@media only screen and (min-width: 700px) {

    main {
        padding: 0;
    }

    nav {
        display: inline-block;
    }

    .dropbtn {
        display: none;
    }

    .avatar {
        width: 25%;
    }

    
}