header { 
    height: 8vh;
}

ul {
    display: inline-block;
}

.avatar {
    display: inline-block;
}

nav a{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 8vh;
    line-height: 80px;
}

header img {
    height: 8vh;
    width: auto;
    background-color: red;
}



#intro-content {
    background-color: yellow;
}